{% extends 'mailLayout.html.twig' %}
    {% block body %}

        <h1>L'épisode {{ episode.title }} a était ajouté</h1>

        <p>Bonjour, l'épisode {{ episode.title }} a était ajouté sur Wild Series</p>

        <p>Synopsis : {{episode.synopsis }}</p>

        <p> Pour plus d'info sa ce passe <a href="">
   
    {% endblock %}