$theme-colors: (
    'primary': rgba(182, 137, 115, 1),
    'secondary': rgba(250, 243, 224, 1),
    'dark': rgba(30, 33, 45, 1),
    'middle-light': rgba(234, 191, 159, 1),
);

@import '~bootstrap/scss/bootstrap';

body {
    background-color: rgba(30, 33, 45, 1),;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    color: rgba(234, 191, 159, 1);
    

    .bg-image{
        background-image: 'assets/images/Wild_serie.png';
    }

    .navbarre {
        margin-bottom: 2%;
    }
}
